{%- liquid
  assign threshold = settings.free_shipping_threshold | default: 0
  assign threshold_cents = threshold | times: 100
  assign active_currency = cart.currency.iso_code | default: shop.currency
  assign show_free_shipping_progress = false

  if threshold > 0 and active_currency == shop.currency
    assign show_free_shipping_progress = true
  endif

  if show_free_shipping_progress
    assign remaining_cents = threshold_cents | minus: cart.total_price
    assign progress_percent = cart.total_price | times: 100.0 | divided_by: threshold_cents
    if progress_percent > 100
      assign progress_percent = 100
    endif
  endif
-%}

{%- if show_free_shipping_progress -%}
  <div class="cart-progress" role="status">
    <p class="cart-progress__message">
      {%- if remaining_cents > 0 -%}
        {{ 'sections.cart.free_shipping_remaining_html' | t: amount: remaining_cents | money }}
      {%- else -%}
        {{ 'sections.cart.free_shipping_unlocked' | t }}
      {%- endif -%}
    </p>
    <div class="cart-progress__bar" aria-hidden="true">
      <span class="cart-progress__fill" style="width: {{ progress_percent }}%;"></span>
    </div>
  </div>
{%- endif -%}
